<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_UCP_INVITE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1" colspan="2"><span class="gensmall">{L_UCP_INVITE_DESCRIPTION}</span></td>
</tr>
<!-- IF S_DISPLAY_PRIORITY -->
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_MAIL_PRIORITY}: </b></td>
	<td class="row2"><select id="form_priority" name="form_priority"><option value="{S_MAIL_LOW_PRIORITY}">{L_MAIL_LOW_PRIORITY}</option><option value="{S_MAIL_NORMAL_PRIORITY}">{L_MAIL_NORMAL_PRIORITY}</option><option value="{S_MAIL_HIGH_PRIORITY}">{L_MAIL_HIGH_PRIORITY}</option></select></td>
</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_RECIPIENT_EMAIL}: </b></td>
	<td class="row2"><input type="text" name="form_register_email" id="form_register_email" value="{FORM_REGISTER_EMAIL}" size="45" maxlength="60" class="inputbox autowidth" /></td>
</tr>
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_RECIPIENT_NAME}: </b></td>
	<td class="row2"><input type="text" name="form_register_real_name" id="form_register_real_name" value="{FORM_REGISTER_REAL_NAME}" size="45" maxlength="60" class="inputbox autowidth" /></td>
</tr>
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_SUBJECT}: </b></td>
	<td class="row2">
		<input type="text" name="form_subject" id="form_subject" value="{FORM_SUBJECT}" size="45" maxlength="60" class="inputbox autowidth" />
		<!-- IF S_DISPLAY_LANGUAGE --><select style="margin-left: 10px;" id="form_invite_language_select" name="form_invite_language_select">{FORM_LANGUAGE_SELECT}</select><!-- ENDIF -->
	</td>
</tr>
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_MESSAGE}: </b><br /><span>{L_MESSAGE_EXPLAIN}</span></td>
	<td class="row2"><textarea style="max-width: 700px;" name="form_message" id="form_message" rows="12" cols="60" class="inputbox">{FORM_MESSAGE}</textarea></td>
</tr>
<!-- IF S_DISPLAY_CONFIRM or S_DISPLAY_CONFIRM_METHOD or S_DISPLAY_ZEBRA -->
<tr> 
	<td class="row1" width="25%"><b class="genmed">{L_OPTIONS}: </b></td>
	<td class="row2">
		<!-- IF S_DISPLAY_CONFIRM or S_DISPLAY_CONFIRM_METHOD -->
			<div><input type="checkbox" name="form_invite_confirm" id="form_invite_confirm" value="1" checked="checked" <!-- IF not S_DISPLAY_CONFIRM --> disabled="disabled"<!-- ENDIF --> /><label for="form_invite_confirm"><!-- IF S_DISPLAY_CONFIRM_METHOD --> {L_SEND_CONFIRMATION_METHOD}<!-- ELSE --> {L_SEND_CONFIRMATION}<!-- ENDIF --></label><!-- IF S_DISPLAY_CONFIRM_METHOD --><select style="margin-left: 8px;" id="form_invite_confirm_method" name="form_invite_confirm_method"><option value="{S_VALUE_EMAIL}">{L_EMAIL}</option><option value="{S_VALUE_PM}">{L_PM}</option></select></div><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_ZEBRA --><div><input type="checkbox" name="form_invite_zebra" id="form_invite_zebra" value="1" tabindex="5" checked="checked" /> <label for="form_invite_zebra">{L_INVITATION_ZEBRA}</label></div><!-- ENDIF -->
	</td>
</tr>
<!-- ENDIF -->

<!-- IF CAPTCHA_TEMPLATE -->
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->

<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" tabindex="6" class="<!-- IF S_DISABLE -->disabled button1<!-- ELSE -->button1<!-- ENDIF -->" <!-- IF S_DISABLE -->disabled="disabled"<!-- ENDIF --> />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" tabindex="7" class="<!-- IF S_DISABLE -->disabled button2<!-- ELSE -->button2<!-- ENDIF -->" <!-- IF S_DISABLE -->disabled="disabled"<!-- ENDIF --> />
	{S_FORM_TOKEN}
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->